<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <div>
  <h1>Welcome to Private Events! </h1>
</div>

      <% if user_signed_in? %>
        <div class="navbar-item">
          <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
        </div>
        <% else %>
        <div class="navbar-item">
          <%= link_to "Sign up", new_user_registration_path, class: "button is-primary has-text-dark is-fullwidth"%>
        </div>
        <div class="navbar-item">
          <%= link_to "Log In", new_user_session_path, class: "button is-primary has-text-dark is-fullwidth"%>
        </div>
      <% end %>

    <%= yield %>
  </body>
</html>
